<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
  <li><%=link_to 'Inicio',root_path%></li>
  <li><%=link_to 'Clientes',clientes_path%></li>
    <li class='active'>Nuevo</li>
</ul>

<%- model_class = Cliente -%>
<div class="page-header">
  <h1>Nuevo cliente</h1>
</div>
<%= render :partial => 'form' %>
