<h1>Ordenes de pedido 1.0</h1>
<p>Versión 0.2</p>
<ul>
	<li><%=link_to 'PIEZAS',piezas_path%> Aquí damos de alta las piezas...</li>
	<li><%=link_to 'CLASES',clases_path%> Aquí damos de alta a la familias de muebles... ESTO ES OMISIBLE</li>
	<li><%=link_to 'MUEBLES',muebles_path%> la madre del cordero....<p> Aquí damos de alta el mueble base con piezas exclusivamente del tipo CASCO, a cada mueble podemos generarle variantes.. LAS VARIANTES son del tipo HERRAJE y PUERTA</p></li>
</ul>
