<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
  <li><%=link_to 'Inicio',root_path%></li>
  <li><%=link_to 'Familias',clases_path%></li>
  <li><%=link_to @clase.nombre,@clase%></li>
    <li class='active'>Editar</li>
</ul>


<div class="page-header">
  <h1>Editar familia</h1>
</div>
<%= render :partial => 'form' %>
