<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
    <li><%=link_to 'Inicio',pedidos_path%></li>
    <li><%=link_to 'Familias',clases_path%></li>
  <li class="active">Nueva familia</li>
</ul>



<%- model_class = Clase -%>
<div class="page-header">
  <h1>Nuevo</h1>
</div>
<%= render :partial => 'form' %>
