<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
  <li><%=link_to 'Inicio',root_path%></li>
  <li><%=link_to 'Pedidos',pedidos_path%></li>
  <li><%=link_to @pedido.fecha,@pedido%></li>
    <li class='active'>Editar</li>
</ul>

<%- model_class = Pedido -%>
<div class="page-header">
  <h1>Editar pedido</h1>
</div>
<%= render :partial => 'form' %>
