<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
  <li><%=link_to 'Inicio',root_path%></li>
  <li><%=link_to 'Modelos',modelos_path%></li>
    <li class='active'>Nuevo</li>
</ul>


<%- model_class = Modelo -%>
<div class="page-header">
  <h1>Nuevo modelo</h1>
</div>
<%= render :partial => 'form' %>
