<ul class="breadcrumb">Estás en: &nbsp;&nbsp;
  <li><%=link_to 'Inicio',root_path%></li>
  <li><%=link_to 'Pedidos',pedidos_path%></li>
  <li><%=link_to @item.pedido.cliente.nombre.concat(" - ").concat(@item.pedido.fecha),@item.pedido%></li>
    <li class='active'>Añadir producto al pedido</li>
</ul>


<%- model_class = Item -%>
<div class="page-header">
  <h1>Añadir items al pedido</h1>
</div>
<%= render :partial => 'form' %>
